<div class="w-full min-w-[150px]">

    <h3 class="!font-semibold !text-lg !mb-3" [ngClass]="{ 'text-right' : group === 'left' }">{{ group === 'left' ? 'Team 1' : 'Team 2' }}</h3>
    <ul>
        <li *ngFor="let player of players" class="list-none py-2 px-3 bg-white mb-2 text-black rounded-md">

            <div class="flex flex-row gap-2 items-center !text-lg" [ngClass]="{ 'justify-end': group ==='left' }">
                <p class="!m-0" [ngClass]="{ 'text-right' : group === 'left' }">{{ player.name }}</p>
            </div>

        </li>
    </ul>
</div>